.form{
  font-size: 1.2rem;
}
.form-select{
  font-size: 1.2rem;
  &:focus{
    border-color: $cl-purple-light;
    box-shadow: 0 0 0 .25rem rgba($cl-purple-light,.25);
  }
}
.form-control{
  font-size: 1.2rem;
  &:focus{
    border-color: $cl-purple-light;
    box-shadow: 0 0 0 .25rem rgba($cl-purple-light,.25);
  }
  &--value:disabled{
    display: none;
  }
}
.form-check-input{
  &:checked{
    background-color: $cl-purple;
    border-color: $cl-purple;

  }
  &:focus{
    box-shadow: 0 0 0 .25rem rgba($cl-purple-light,.25);
  }
}