@import "./vars.scss";
@import "./template.scss";
@import "./blocks/aside.scss";
@import "./blocks/content.scss";
@import "./blocks/table.scss";
@import "./blocks/button.scss";
@import "./blocks/form.scss";
@import "./blocks/modal.scss";
@import "./blocks/column.scss";
@import "./blocks/loading.scss";

@import "./modules/template.scss";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");
