$main-font: 'Inter', sans-serif;

$cl-main: #000;
$cl-additon: #27262B;
$cl-purple: #474BAB;
$cl-purple-light: #CACCF7;
$cl-grey-super-light: #FAFAFA;
$cl-grey-purple: #F1F2FF;
$cl-grey-light: #E9E9E9;
$cl-grey: #EAEAF0;
$cl-border: #EBEBEB;
$cl-table-border: #E7E9EC;

$border-radius: 0.8rem;
$border-radius-table: 0.4rem;

$transition-time: 0.2s;

:root{
  --cl-purple: $cl-purple;
  --bs-border-radius: 0.8rem;
  --bs-border-color: #EAEAF0;
}